## Aggregate Query Practice

This assignment is to practice with the new SQL clauses

* GROUP BY
* HAVING


Due:  By Class on Wed November 11

In [1]:
# all of your notebooks and homework using SQL are going to start something like this
import warnings
warnings.filterwarnings('ignore')
%load_ext sql

In [2]:
%sql postgresql://osmaah02:@localhost/world

'Connected: osmaah02@world'

### Which government form has the highest average life expectancy?

In [3]:
%%sql

SELECT governmentform, max(lifeexpectancy) AS "Life Expectancy" FROM country
GROUP BY governmentform ORDER BY max(lifeexpectancy) DESC LIMIT 1;

1 rows affected.

[('Parliamentary Coprincipality', 83.5)]

### Calculate the surface area of the regions and sort in ascending order

In [4]:
%%sql

SELECT region, sum(surfacearea) AS "Surface Area" FROM country
GROUP BY region ORDER BY sum(surfacearea) ASC;

25 rows affected.

[('Micronesia/Caribbean', 16.0),
 ('Micronesia', 3102.0),
 ('Polynesia', 8463.0),
 ('Baltic Countries', 175117.0),
 ('Caribbean', 234423.0),
 ('British Islands', 313173.0),
 ('Melanesia', 540774.0),
 ('Western Europe', 1108460.0),
 ('Southern Europe', 1316390.0),
 ('Nordic Countries', 1321900.0),
 ('Central America', 2479530.0),
 ('Southern Africa', 2674780.0),
 ('Southeast Asia', 4494800.0),
 ('Middle East', 4820590.0),
 ('Western Africa', 6138340.0),
 ('Eastern Africa', 6299890.0),
 ('Central Africa', 6612670.0),
 ('Australia and New Zealand', 8011940.0),
 ('Northern Africa', 8524700.0),
 ('Southern and Central Asia', 10791100.0),
 ('Eastern Asia', 11774500.0),
 ('Antarctica', 13132100.0),
 ('South America', 17864900.0),
 ('Eastern Europe', 18814100.0),
 ('North America', 21500500.0)]

### which government types have the lowest average life expectancy?

In [5]:
%%sql

SELECT governmentform, avg(gnp) AS "GNP" FROM country
GROUP BY governmentform HAVING avg(gnp) > 0 ORDER BY avg(gnp) ASC;

28 rows affected.

[('Independent Church State', Decimal('9.0000000000000000')),
 ('Nonmetropolitan Territory of New Zealand', Decimal('33.3333333333333333')),
 ('Occupied by Marocco', Decimal('60.0000000000000000')),
 ('Parlementary Monarchy', Decimal('141.0000000000000000')),
 ('Dependent Territory of the UK', Decimal('394.1000000000000000')),
 ('US Territory', Decimal('510.3333333333333333')),
 ('Nonmetropolitan Territory of France', Decimal('1095.2500000000000000')),
 ('Nonmetropolitan Territory of The Netherlands', Decimal('1384.5000000000000000')),
 ('Parliamentary Coprincipality', Decimal('1630.0000000000000000')),
 ('Overseas Department of France', Decimal('3800.0000000000000000')),
 ('Autonomous Area', Decimal('4173.0000000000000000')),
 ('Islamic Emirate', Decimal('5976.0000000000000000')),
 ('Monarchy (Emirate)', Decimal('6366.0000000000000000')),
 ('Monarchy (Sultanate)', Decimal('14304.5000000000000000')),
 ('Socialistic Republic', Decimal('15034.666666666667')),
 ('Commonwealth of the US', Decimal('17050.000000000000')),
 ('Constitutional Monarchy (Emirate)', Decimal('27037.000000000000')),
 ('Monarchy', Decimal('29766.200000000000')),
 ('Emirate Federation', Decimal('37966.000000000000')),
 ('Socialistic State', Decimal('44806.000000000000')),
 ('Republic', Decimal('47921.751639344262')),
 ('Special Administrative Region of China', Decimal('86098.500000000000')),
 ('Islamic Republic', Decimal('102954.000000000000')),
 ('Constitutional Monarchy', Decimal('237960.896551724138')),
 ('Federation', Decimal('264478.000000000000')),
 ('Constitutional Monarchy, Federation', Decimal('317240.250000000000')),
 ('Federal Republic', Decimal('886683.866666666667')),
 ("People'sRepublic", Decimal('982268.000000000000'))]

### What regions have a high average life expectancy?

In [6]:
%%sql

SELECT region, avg(lifeexpectancy) FROM country
GROUP BY region ORDER BY avg(lifeexpectancy) DESC

25 rows affected.

[('Western Europe', 78.2555567423503),
 ('British Islands', 77.25),
 ('North America', 75.8199996948242),
 ('Eastern Asia', 75.25),
 ('Caribbean', 73.0583332379659),
 ('Southern Europe', 71.4266672770182),
 ('Central America', 71.0249996185303),
 ('Middle East', 70.5666671329074),
 ('Eastern Europe', 69.9299995422363),
 ('Baltic Countries', 69.0),
 ('Micronesia', 68.0857140677316),
 ('Nordic Countries', 67.1428571428571),
 ('Melanesia', 67.1400009155273),
 ('South America', 65.878570829119),
 ('Northern Africa', 65.3857127598354),
 ('Southeast Asia', 64.4000001387163),
 ('Southern and Central Asia', 61.3500003814697),
 ('Western Africa', 52.7411768296186),
 ('Central Africa', 50.3111110263401),
 ('Eastern Africa', 48.2699998855591),
 ('Southern Africa', 44.8199996948242),
 ('Polynesia', 42.4400001525879),
 ('Australia and New Zealand', 31.5200012207031),
 ('Micronesia/Caribbean', 0.0),
 ('Antarctica', 0.0)]

### What is the most common form of government?

In [7]:
%%sql

SELECT governmentform, count(*) FROM country
GROUP BY governmentform ORDER BY count(*) DESC LIMIT 1

1 rows affected.

[('Republic', 122)]

### Which region has the highest total gnp?

In [8]:
%%sql

SELECT region, SUM(lifeexpectancy) FROM country
GROUP BY region ORDER BY SUM(lifeexpectancy) DESC LIMIT 1;

1 rows affected.

[('Caribbean', 1753.4)]

### Show the 10 government forms with the largest population

In [9]:
%%sql

SELECT governmentform, sum(population) FROM country
GROUP BY governmentform ORDER BY sum(population) DESC LIMIT 10;

10 rows affected.

[('Federal Republic', 2009320500),
 ('Republic', 2003311200),
 ("People'sRepublic", 1277558000),
 ('Constitutional Monarchy', 405893000),
 ('Socialistic Republic', 115072000),
 ('Islamic Republic', 97192000),
 ('Constitutional Monarchy, Federation', 82516000),
 ('Monarchy', 25437000),
 ('Islamic Emirate', 22720000),
 ('Special Administrative Region of China', 7255000)]

### List the total population of each continent and order them from smallest to largest

In [10]:
%%sql

SELECT continent, sum(population) FROM country
GROUP BY continent ORDER BY sum(population) ASC

7 rows affected.

[('Antarctica', 0),
 ('Oceania', 30401150),
 ('South America', 345780000),
 ('North America', 482993000),
 ('Europe', 730074600),
 ('Africa', 784475000),
 ('Asia', 3705025700)]

### Show the total number of countries for each region in Europe

In [11]:
%%sql

SELECT region, count(name) FROM country
WHERE continent = 'Europe' GROUP By region ORDER BY count(name) ASC

6 rows affected.

[('British Islands', 2),
 ('Baltic Countries', 3),
 ('Nordic Countries', 7),
 ('Western Europe', 9),
 ('Eastern Europe', 10),
 ('Southern Europe', 15)]

### List the total population of each region in Africa from lowest to highest.

In [12]:
%%sql

SELECT region, sum(population) FROM country
WHERE continent = 'Africa' GROUP BY region ORDER BY sum(population) ASC

5 rows affected.

[('Southern Africa', 46886000),
 ('Central Africa', 95652000),
 ('Northern Africa', 173266000),
 ('Western Africa', 221672000),
 ('Eastern Africa', 246999000)]