## Creating a registration database

Due:  Wednesday November 4th

In [1]:
import warnings
warnings.filterwarnings('ignore')

%load_ext sql

Create a table for the student entity we modeled in class.

In [2]:
%%sql

postgresql://osmaah02:@localhost/osmaah02

'Connected: osmaah02@osmaah02'

Now create a student table, make sure you create a constraint for a primary key.

In [3]:
%%sql

DROP TABLE IF EXISTS student;

CREATE TABLE student (
    student_id INTEGER,
    first_Name VARCHAR(20),
    last_name VARCHAR(20),
    start_date DATE,
    grad_date DATE,
    gpa FLOAT,
    
    CONSTRAINT sid_key PRIMARY KEY(student_id)
);

Done.
Done.

[]

Next create the course table, make sure you create a constraint for a primary key.

In [4]:
%%sql

DROP TABLE IF EXISTS course;

CREATE TABLE course (
    course_id INTEGER,
    title VARCHAR(35),
    code_name VARCHAR(7),
    section_num VARCHAR(2),
    semester VARCHAR(2),
    year INTEGER,
    weeks INTEGER,
    credits INTEGER,
    enrollment_limit INTEGER,
    enrolled INTEGER,
    course_time TIME,
    location VARCHAR(20),
    
    CONSTRAINT cid_key PRIMARY KEY(course_id, code_name, section_num, year, semester)
);

Done.
Done.

[]

Finally populate your database with some insert statements  You should create at least 5 courses and three students enrolled in a variety of those courses.

In [5]:
%%sql

INSERT INTO student (student_id, first_name, last_name, start_date, grad_date)
                    VALUES('1', 'Isacc', 'Daniel', '8/26/2014', '5/19/2018');
INSERT INTO student (student_id, first_name, last_name, start_date, grad_date, gpa)
                    VALUES('2', 'Jack', 'Brandon', '8/29/2015', '5/24/2019', '2.9');
INSERT INTO student (student_id, first_name, last_name, start_date, grad_date, gpa)
                    VALUES('3', 'Jorge', 'Lupez', '8/24/2016', '5/20/2020', '3.2');

INSERT INTO course (course_id, title, code_name, section_num, semester, weeks, year, credits, enrollment_limit, enrolled, course_time, location)
                    VALUES('1', 'Introduction to Data Science', 'CS120', 'A', 'FA', '14', '2016', '4', '30', '15', '9:00', 'Olin 202');
INSERT INTO course (course_id, title, code_name, section_num, semester, weeks, year, credits, enrollment_limit, enrolled, course_time, location)
                    VALUES('2', 'Fundumentals of Web Programming', 'CS130', 'B', 'FA', '7', '2016', '2', '30', '25', '12:30', 'Olin 203');
INSERT INTO course (course_id, title, code_name, section_num, semester, weeks, year, credits, enrollment_limit, enrolled, course_time, location)
                    VALUES('3', 'Data Modeling and Querying', 'CS140', 'A', 'FA', '7', '2016', '2', '30', '29', '13:30', 'Olin 205');
INSERT INTO course (course_id, title, code_name, section_num, semester, weeks, year, credits, enrollment_limit, enrolled, course_time, location)
                    VALUES('4', 'Introduction to Computer Science', 'CS150', 'C', 'SP', '14', '2017', '4', '12', '25', '11:00', 'Olin 202');
INSERT INTO course (course_id, title, code_name, section_num, semester, weeks, year, credits, enrollment_limit, enrolled, course_time, location)
                    VALUES('5', 'Algorithms and Data Structure', 'CS160', 'B', 'SP', '14', '2017', '4', '30', '27', '13:30', 'Olin 205');

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Try to add a student with the student_id identical to a student you have previously added.  This **should** create an error.

In [6]:
%%sql

INSERT INTO student (student_id, first_name, last_name, start_date, grad_date, gpa)
                    VALUES('1', 'Ahmad', 'Osman', '8/20/2016', '5/23/2020', '3.8');

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "sid_key"
DETAIL:  Key (student_id)=(1) already exists.
 [SQL: "INSERT INTO student (student_id, first_name, last_name, start_date, grad_date, gpa)\n                    VALUES('1', 'Ahmad', 'Osman', '8/20/2016', '5/23/2020', '3.8');"] (Background on this error at: http://sqlalche.me/e/gkpj)

Feel free to make any notes to yourself in this cell.